<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8"/>
    <title>Niwax - Web Design &amp; Digital Marketing Agency HTML Template</title>
    <meta name="description" content="Creative Agency, Marketing Agency Template">
    <meta name="keywords" content="Creative Agency, Marketing Agency">
    <meta name="author" content="rajesh-doot">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#322d97">
    <!--website-favicon-->
    <link href="images/favicon.png" rel="icon">
    <!--plugin-css-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/plugin.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- template-style-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/demo-css.css" rel="stylesheet">
  </head>
  <body>
    <!--Start Preloader -->
    <div class="onloadpage" id="page_loader">
      <div class="pre-content">
        <div class="logo-pre"><img src="img/logo.png" alt="Logo" class="img-fluid" /></div>
        <div class="pre-text-"><span>Niwax - Creative Agency & Portfolio HTML Template Are 2 Seconds Away.</span>Have Patience</div>
      </div>
    </div>
    <!--End Preloader -->
    <header class="nav-bg-b main-header navfix fixed-top">
      <div class="container m-pad">
        <div class="menu-header">
          <div class="dsk-logo"><a class="nav-brand" href="index.html">
            <img src="images/white-logo.png" alt="Logo" class="mega-white-logo"/>
            <img src="images/logo.png" alt="Logo" class="mega-darks-logo"/>
            </a>
          </div>
          <div class="custom-nav" role="navigation">
            <ul class="nav-list">
              <li><a href="https://themeforest.net/item/niwax-web-design-digital-marketing-agency-html-template/27112946/support" class="niwax-btn3"><img src="images/icons/envato.svg" alt="envato"> Support</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!--End Header -->
    <!--Start Hero-->
    <section class="hero-card-web shape-bg3">
      <div class="text-block">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 niwax" data-rellax-speed="-3">
              <div class="header-heading text-center">
                <h3 class="wow fadeInUp" data-wow-delay=".2s">Multipurpose Creative Agency HTML5 Template for</h3>
                <h1 class="wow fadeInUp" data-wow-delay=".4s"> <span class="typer" id="main" data-words="Web Design, Apps Development, Software Development, Graphics Design, Brandings Agency, Marketings Agency, Video Production, Photography" data-delay="100" data-deleteDelay="1000"></span>  <span class="cursorx" data-owner="first-typer">|</span></h1>
                <p class="wow fadeInUp" data-wow-delay=".6s">Everything essential for a digital agency's website has been included in Niwax.</p>
                <a href="#demo" class="niwax-btn2 wow zoomInDown mt10" data-wow-delay=".6s">See All Demos<i class="fas fa-chevron-right fa-icon"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container-flid">
          <div class="row">
            <div class="col-lg-12">
              <div class="div-float-mockups">
                <div class="float-mockup-1 ft1">
                  <div class="fm1 niwax" data-rellax-speed="1"><img src="img/screen-1.jpg" alt="img"></div>
                </div>
                <div class="float-mockup-1 ft2">
                  <div class="fm1 niwax" data-rellax-speed="2"><img src="img/screen-2.jpg" alt="img"></div>
                </div>
                <div class="float-mockup-1 ft3">
                  <div class="fm1 niwax" data-rellax-speed="3"><img src="img/screen-3.jpg" alt="img"></div>
                </div>
                <div class="float-mockup-1 ft4">
                  <div class="fm1 niwax" data-rellax-speed="1"><img src="img/screen-4.jpg" alt="img"></div>
                </div>
                <div class="float-mockup-1 ft5">
                  <div class="fm1 niwax" data-rellax-speed="2"><img src="img/screen-5.jpg" alt="img"></div>
                </div>
                <div class="float-mockup-1 ft6">
                  <div class="fm1 niwax" data-rellax-speed="3"><img src="img/screen-6.jpg" alt="img"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Hero-->
    <!--Start Why Choose-->
    <section class="whychoose-block pad-tb">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2>The Ideal Template for Startups and Large Corporations.</h2>
            <p class="mt20">The Best Multi-Purpose and Powerful Bootstrap 5 Template with 35+ Multi-Page and One-Page Layouts and 200+ UI Features. Niwax is appropriate for every business, but especially for creative agencies.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt60">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gy-1 gy-md-3 gx-3 gx-md-4">
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/bootstrap.png" width="56" alt="Bootstrap logo">
                  <h3 class="h6">Built with Bootstrap 5</h3>
                  <p class="fs-sm mb-0">Niwax is a powerful front-end solution built on Bootstrap 5, the most popular responsive, mobile-first front-end component library in the world.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/html-code.png" width="56" alt="code logo">
                  <h3 class="h6">Universal - HTML CSS</h3>
                  <p class="fs-sm mb-0">If you don't want to, there's no need to write a lot of HTML. Niwax was created using universal coding. Niwax offers the ability to create a good website by balancing the use of css and html.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/components.png" width="56" alt="Components icon">
                  <h3 class="h6">150+ flexible components</h3>
                  <p class="fs-sm mb-0">Niwax adds a slew of new flexible, customizable, and reusable elements to the website, in addition to styling all default Bootstrap 5 components.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/mobile.png" width="56" alt="Mobile icon">
                  <h3 class="h6">Mobile Friendly Interface</h3>
                  <p class="fs-sm mb-0">It's unsurprising that over 60% of internet users now utilize their mobile devices to access the internet. Niwax is completely responsive and designed to work on all small and big screens.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/touch-screen.png" width="56" alt="Touch icon">
                  <h3 class="h6">Touch-enabled sliders</h3>
                  <p class="fs-sm mb-0">In the age of touch displays, it's critical to provide a positive user experience on mobile devices, especially when it comes to components like sliders.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/google-fonts.png" width="56" alt="Google Fonts logo">
                  <h3 class="h6">Google fonts</h3>
                  <p class="fs-sm mb-0">Niwax uses Google font (Poppins and Open Sans) which is free, fast to load and of very high quality. Currently Google fonts library includes 1000+ font families to choose from.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/vector.png" width="56" alt="Vector icon">
                  <h3 class="h6">Vector based HD ready icons</h3>
                  <p class="fs-sm mb-0">Niwax comes with a font-based icon set that ensures infographics and interface icons look great on every device, regardless of screen resolution or pixel density.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/html.png" width="56" alt="HTML5 logo">
                  <h3 class="h6">W3C valid HTML code</h3>
                  <p class="fs-sm mb-0">To ensure 100% valid code, all HTML files are validated by the W3C validator. Invalid HTML, as you may know, inhibits SEO and Google Ranking. Niwax provides a valid code to increase ranking of your website.</p>
                </div>
              </div>
              <div class="col">
                <div class="card card-body card-hover h-100 border-0">
                  <img class="d-block mb-3" src="img/docs.png" width="56" alt="Docs icon">
                  <h3 class="h6">Detailed documentation</h3>
                  <p class="fs-sm mb-0">Offline documentation is included in the download package, as well as links to online documentation. It covers all you need to know about getting started, customising templates, and using the various components.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Why Choose-->
    <!--Start Demo-->
    <section class="portfolio-section- pad-tb dark-bg3" id="demo">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-8">
            <div class="common-heading">
              <h2 class="mb0">Homepage Demo</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center text-center">          

          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="digital-agency.html"><img src="img/digital-agency.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="digital-agency.html">Digital Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="web-design-agency.html"><img src="img/web-design.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="web-design-agency.html">Web Design Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="app-development.html"><img src="img/app-development.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="app-development.html">App Development Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="digital-marketing.html"><img src="img/digital-marketing.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="digital-marketing.html">Digital Marketing</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="lead-generation.html"><img src="img/lead-generation.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="lead-generation.html">Lead Generation Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="freelance-portfolio.html"><img src="img/freelance.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="freelance-portfolio.html">Freelance Personal Portfolio</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="minimal-portfolio.html"><img src="img/minimal-portfolio.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="minimal-portfolio.html">Minimal Portfolio</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="creative-agency.html"><img src="img/creative-agency.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="creative-agency.html">Creative Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="branding-agency.html"><img src="img/branding-agency.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="branding-agency.html">Branding Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="modern-agency.html"><img src="img/modern-agency.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="modern-agency.html">Modern Agency</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="business-and-startup.html"><img src="img/business-and-startup.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="business-and-startup.html">Business and Startup</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="graphic-studio.html"><img src="img/graphic-studio.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="graphic-studio.html">Graphic Studio</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="landing-page-2.html"><img src="img/landing-page-2.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="landing-page-2.html">Landing Page 2</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="landing-page-1.html"><img src="img/landing-page-1.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="landing-page-1.html">Landing Page 1</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="freelancer-v2-onepage.html"><img src="img/freelance-v2.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="freelancer-v2-onepage.html">Freelancer v2</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="digital-agency-glassmorphism.html"><img src="img/digital-agency-v3.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="digital-agency-glassmorphism.html">Digital Agency V3</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="digital-agency-v2.html"><img src="img/digital-agency-v2.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="digital-agency-v2.html">Digital Agency V2</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mt60">
            <div class="isotope_item up-hor">
              <div class="item-image">
                <a href="#."><img src="img/more-demo.jpg" alt="image" class="img-fluid" /> </a>
              </div>
              <div class="item-info">
                <h4><a href="#.">More Demo...</a></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt100">
          <div class="col-12">
            <h2>One Page Demo</h2>
            <div class="index-list mt30">
              <ul>
                <li><a href="digital-agency-onepage.html">Digital Agency</a></li>
                <li><a href="digital-agency-dark-onepage.html">Digital Agency Dark</a></li>
                <li><a href="web-design-agency-onepage.html">Web Design Agency</a></li>
                <li><a href="web-design-agency-dark-onepage.html">Web Design Agency Dark</a></li>
                <li><a href="digital-marketing-onepage.html">Digital Marketing</a></li>
                <li><a href="digital-marketing-dark-onepage.html">Digital Marketing Dark</a></li>
                <li><a href="lead-generation-onepage.html">Lead Generation Agency</a></li>
                <li><a href="lead-generation-dark-onepage.html">Lead Generation Agency Dark</a></li>
                <li><a href="freelance-portfolio-onepage.html">Freelance Portfolio</a></li>
                <li><a href="freelancer-v2-onepage.html">Freelancer v2</a></li>        
                <li><a href="app-development-onepage.html">App Development Agency</a></li>
                <li><a href="minimal-portfolio-onepage.html">Minimal Portfolio</a></li>
                <li><a href="creative-agency-onepage.html">Creative Agency</a></li>
                <li><a href="branding-agency-onepage.html">Branding  Agency</a></li>
                <li><a href="modern-agency-onepage.html">Modern Agency</a></li>
                <li><a href="business-and-startup-onepage.html">Business & Startup</a></li>
                <li><a href="graphic-studio-onepage.html">Graphic Studio</a></li>
              </ul>
            </div>
          </div>  
        </div>  
      </div>
    </section>
    <!--End demo-->
    <!--start inner pages -->
    <section class="pad-tb bg-gradient4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="about-content-home m-mb60">
              <h2>Inner Pages</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt40">
          <div class="col-12">
            <div class="index-list">
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="about-2.html">About Us V2 <span class="badge bg-primary">New</span></a></li>
                <li><a href="why-us.html">Why Us </a></li>
                <li><a href="team.html">Our Team </a></li>
                <li><a href="team-details.html">Team Single </a></li>
                <li><a href="case-study.html">Case Study </a></li>
                <li><a href="case-study-details.html">Case Study Single </a></li>
                <li><a href="mission-vision.html">Mission & Vision</a></li>
                <li><a href="development-process.html">Development Process</a></li>
                <li><a href="client-reviews.html">Client Reviews</a> </li>
                <li><a href="clients.html">Our Clients</a></li>               
                <li><a href="login.html">Login Page</a> </li>
                <li><a href="career.html">Careers</a> </li>
                <li><a href="error.html">404 Page</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 mt60">
            <div class="index-list">
              <h4>Contact Us page</h4>
              <ul class="mt10">
                <li><a href="get-quote.html">Contact Us 1</a> </li>
                <li><a href="get-quote-2.html">Contact Us 2</a> </li>
                <li><a href="get-quote-3.html">Contact Us 3 <span class="badge bg-primary">New</span></a> </li>
              </ul>
            </div>
          </div>
          <div class="col-12 mt60">
            <div class="index-list">
              <h4>Service Pages</h4>
              <ul class="mt10">
                <li><a href="service-card.html">Service Card</a> </li>
                <li><a href="service-web.html">Service Web</a></li>
                <li><a href="service-app.html">Service Mobile App</a></li>
                <li><a href="service-marketing.html">Service Digital Marketing</a></li>
                <li><a href="service-graphic.html">Service Graphic</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 mt60">
            <div class="index-list">
              <h4>Shop Pages</h4>
              <ul class="mt10">
                <li><a href="shop-page.html">Shop Single</a> </li>
                <li><a href="shop-details.html">Shop Details</a> </li>
                <li><a href="shop-cart.html">Shop Cart</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-12 mt60">
            <div class="index-list">
              <h4>Portfolio Pages</h4>
              <ul class="mt10">
                <li><a href="portfolio.html">Portfolio Grid 1</a> </li>
                <li><a href="portfolio-2.html">Portfolio Grid 2</a> </li>
                <li><a href="portfolio-block.html">Portfolio Wide Block</a> </li>
                <li><a href="portfolio-block-2.html">Portfolio Wide Block v2</a> </li>
                <li><a href="portfolio-block-2.html">Portfolio Wide Block 2</a> </li>
                <li><a href="portfolio-details.html">Portfolio Details</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-12 mt60">
            <h4>Blog Pages</h4>
            <div class="index-list">
              <ul class="mt10">
                <li><a href="blog-grid-1.html">Blog Grid 1</a> </li>
                <li><a href="blog-grid-2.html">Blog Grid 2</a> </li>
                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a> </li>
                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a> </li>
                <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--inner pages end-->
    <!--start inner pages -->
    <section class="innerpage pad-tb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="about-content-home m-mb60 text-center">
              <h2>Template Shortcodes</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt60">
          <div class="col">
            <div class="index-list">
              <ul>
                <li><a href="pricing.html">Pricing <span class="badge bg-primary">New</span></a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="button.html">Buttons <span class="badge bg-primary">New</span></a></li>
                <li><a href="locations.html">Office Location</a></li>
                <li><a href="faq.html">FAQs</a>	</li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="gradients.html">Background Gradients</a></li>
                <li><a href="header-v1.html">Header v1</a></li>
                <li><a href="header-v2.html">Header v2</a></li>
                <li><a href="header-v3.html">Header v3</a></li>
                <li><a href="footer-design.html">Footer <span class="badge bg-primary">New</span></a></li>
                <li><a href="hover-animation.html">Hover Animation</a></li>
                <li><a href="popup-modal.html">Popup Modal</a></li>
                <li><a href="lists.html">Lists</a></li>
                <li><a href="bootstrap-components.html">Bootstrap Components</a></li>
                <li><a href="gdprcookies-banner-v1.html">GDPR Cookie Banner v1</a></li>
                <li><a href="gdprcookies-banner-v2.html">GDPR Cookie Banner v2</a></li>
                <li><a href="mouse-cursor.html">Animated Mouse Cursor v1</a></li>
                <li><a href="mouse-cursor-v2.html">Animated Mouse Cursor v2</a></li>
                <li><a href="web-design-agency.html">Dark Mode Switch</a></li>
                <li><a href="digital-agency.html">Reading Progress Bar</a></li>
                <li><a href="slider.html">Slider</a></li>
                <li><a href="terms-and-conditions.html">Terms & Conditions <span class="badge bg-primary">New</span></a></li>
                <li><a href="privacy-policy.html">Privacy Policy <span class="badge bg-primary">New</span></a></li>
                <li><a href="header-v4.html">New Header <span class="badge bg-primary">New</span></a></li>
                <li><a href="digital-agency.html">Lead Generation Popup  <span class="badge bg-primary">New</span></a></li>
                <li><a href="contact-from.html">SMTP Contact Form  <span class="badge bg-primary">New</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--inner pages end-->
    <!--Start reveiws-->
    <section class="bg-gradient1 pad-tb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="common-heading ptag">
              <h2>What Our Clients Have To Say</h2>
              <p class="mb30">We are developing the best design and code which speeds up to develop creative websites.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt30">
            <div class="niwax-review-slider owl-carousel center-dots">
              <div class="reviews-card pr-shadow">
                <div class="row v-center">
                  <div class="col"> <span class="revbx-lr"><img src="images/icons/envato2.svg" width="100" alt=""></span> </div>
                  <div class="col"> <span class="revbx-rl">for Customizability </span></div>
                </div>
                <div class="review-text">
                  <p>Excellent design and code quality. Customization was a breeze. For small support requests raised, TAT was less than 12 hours and issues were resolved in the first level itself. Thank you and all the best. Adding a user/admin dashboard also in a similar design will be helpful.</p>
                </div>
                <div class="-client-details-">
                  <div class="reviewer-text">
                    <h4>Raunakguha</h4>
                    <div class="star-rate">
                      <ul>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reviews-card pr-shadow">
                <div class="row v-center">
                  <div class="col"> <span class="revbx-lr"><img src="images/icons/envato2.svg" width="100" alt=""></span> </div>
                  <div class="col"> <span class="revbx-rl">Code Quality</span> </div>
                </div>
                <div class="review-text">
                  <p>I've been using Niwax for over 1 year and have purchased license. There's literally infinite options on the style you want and can work perfectly to theme. They are so helpful and super supportive !! Always there to help you, the know everything and can fix almost any problem or add features you want. Highly recommended!!!</p>
                </div>
                <div class="-client-details-">
                  <div class="reviewer-text">
                    <h4>Mukhrambror</h4>
                    <div class="star-rate">
                      <ul>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reviews-card pr-shadow">
                <div class="row v-center">
                  <div class="col"> <span class="revbx-lr"><img src="images/icons/envato2.svg" width="100" alt=""></span> </div>
                  <div class="col"> <span class="revbx-rl">for Customizability</span> </div>
                </div>
                <div class="review-text">
                  <p>I really loved the code Quality and the support from Rajesh is Excellent. He helped me very much when I got into some issue with PHP files. Moreover, I loved the customisation of the website code it's very easy and understandable even to a beginner</p>
                </div>
                <div class="-client-details-">
                  <div class="reviewer-text">
                    <h4>Indianwebservices</h4>
                    <div class="star-rate">
                      <ul>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reviews-card pr-shadow">
                <div class="row v-center">
                  <div class="col"> <span class="revbx-lr"><img src="images/icons/envato2.svg" width="100" alt=""></span> </div>
                  <div class="col"> <span class="revbx-rl">for Design Quality</span> </div>
                </div>
                <div class="review-text">
                  <p>Beautiful template and clean code, easy to customize. Plenty of customization options and helped make our site look great. Every important element used in modern HTML5 design is included. The team who developed this deserves utmost respect for having done a terrific job. Just awesome. Customer support very good. Thanks</p>
                </div>
                <div class="-client-details-">
                  <div class="reviewer-text">
                    <h4> Dipulkumar</h4>
                    <div class="star-rate">
                      <ul>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star" aria-hidden="true"></i></a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End reviews-->
    <!-- Features -->
    <section class="pad-tb pb0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="common-heading">
              <h2 class="mb30">Some of Many Features</h2>
            </div>
          </div>
        </div>
        <div class="row upset link-hover shape-num justify-content-center">
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/conversion-rate.svg" alt="service" class="img-fluid"/></div>
              <h5>Conversion Rate Optimized Pages</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/ab-testing.svg" alt="service" class="img-fluid"/></div>
              <h5>Designs A/B Tested</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/branding.svg" alt="service" class="img-fluid"/></div>
              <h5>As per UI/UX Principles</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/color-palette.svg" alt="service" class="img-fluid"/></div>
              <h5>Color Theory-Based Designs</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/web-design.svg" alt="service" class="img-fluid"/></div>
              <h5>Multi-Purpose Pages Design</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/code.svg" alt="service" class="img-fluid"/></div>
              <h5>Coded with SEO in Mind</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/columns.svg" alt="service" class="img-fluid"/></div>
              <h5>Creative Mega Menu Design</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt30 tilt-outer" data-tilt data-tilt-max="15" data-tilt-speed="1000">
            <div class="ss-block tilt-inner" >
              <div class="s-card-icon"><img src="img/contact.svg" alt="service" class="img-fluid"/></div>
              <h5>Quick Contact Popup Design</h5>
            </div>
          </div>
        </div>
        </div>

        <div class="row mt40">
          <div class="col-lg-12">
            <img src="img/home-demo.png" alt="img" class="img-fluid">
          </div>
        </div>    
    </section>
  
   
    <!--Start Footer-->		
    <div class="footer-row3 dark-bg4">
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="footer-">
                <p>© 2020-2022. All Rights Reserved By <a href="https://themeforest.net/user/rajesh-doot/portfolio" target="blank">Rajesh Doot</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Footer-->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script> 
    <script src="js/plugin.min.js"></script>
    <script src="js/preloader.js"></script> 
    <script async src="js/typer.js"></script>    
    <!--common script file-->
    <script src="js/main.js"></script>
    <script>//Owl-Carousel - awards card
      var owl = $('.niwax-review-slider');
      owl.owlCarousel({      
         items: 3,
         loop: true,
      center:false,
         autoplay: true,
         margin: 20,
         nav: false,
         dots: true,
         autoplayTimeout: 3500,
         autoplayHoverPause: true,
         smartSpeed: 2000,
         responsive: {
            0: {
               items: 1,      	
            },
            520: {
               items: 1
            },
            768: {
               items: 2
            },
            1200: {
               items: 2
            },
            1400: {
               items: 3
            },
            1600: {
               items: 3
            },
         }
      });
    </script>
  </body>
</html>